.component{
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    height: 250px;
    width: 500px;
    background-color: rgb(151, 201, 216);

    margin-top: 100px;
}